<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카페 운영 어시스턴트</title>
    <link rel="stylesheet" th:href="@{/css/AdminSignUpStyle.css}">
    <script src="https://kit.fontawesome.com/your-code.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form id="loginForm">
        <div class="title">
            카페 운영<br>어시스턴트
        </div>

        <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" id="username" placeholder="아이디" required>
        </div>

        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="비밀번호" required>
        </div>

        <button type="submit" class="login-btn">로그인</button>

        <div class="signup">
            회원이 아니신가요? <a href="/SignIn">회원가입</a>
        </div>
    </form>
</div>
<script th:src="@{/js/Sign_In/Up/login.js}"></script>
</body>
</html>